html{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: black;
}

#contenedor1{
    border-radius: 1.5rem;
}

#tareas div{
    padding: 1.5rem 0.5rem;
    font-size: 1.2rem;
    background-color: lightgrey;
    border-radius: 1.5rem;
    margin: 0.5rem 0rem;
}

.titulo{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}

.boton-morado{
    background-color: rgba(79, 0, 128, 0.978);
    color: white;
    font-weight: bold;
}

.boton-morado:hover{
    background-color: rgba(29, 0, 47, 0.978);
    color: white;
}


#tareas sup{
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    top: 0.1rem;
}

#tareas sup:hover{
    cursor: pointer;
}

#tareas input[type="checkbox"] {
  transform: scale(1.5);
}

